repos:
    - repo: local
      hooks:
          - id: prettier
            name: prettier
            entry: npx --yes prettier --config configs/.prettierrc.json --ignore-path configs/.prettierignore --write
            language: system
            files: '\\.(js|jsx|ts|tsx|json|yaml|yml|css|scss|html|vue|svelte|astro)$'
